.create-form-container {
    padding: 40px 0;
    background: url("https://images.unsplash.com/photo-1585637071663-799845ad5212?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")no-repeat fixed center;
}

.create-form-container-box {
    max-width: 370px;
    margin: auto;
    background-color: #042553;
    color: #fff;
    opacity: 0.8;
    border: 3px solid white;
    border-radius: 20px;
}

.create-form-container .error {
    border: 1px solid rgb(217, 90, 90);
}

.create-form-container form h3{
    padding-top: 25px;
    text-align: center;
}

.create-form-container form {
    margin: 0 20px;
}

.create-form-container form label {
    display: flex;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}

.create-form-container input {
    font-size: 16px;
    width: 98%;
    height: 35px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
}

.create-form-container select {
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
    line-height: 2;
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
}

.create-form-container option {
    background-color: rgb(237, 229, 229);
    width: 98px;
    color: #042553;
}

.create-form-container textarea {
    font-family: 'PT Sans', sans-serif;
    opacity: 1;
    width: 98%;
    margin: 0 0 20px 0;
    padding: 7px 0 0 7px;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.create-form-container input[type="date"],
.create-form-container input[type="time"] {
    font-size: 16px;
    padding: 5px;
}

::placeholder {
    font-size: 16px;
    padding: 5px;
    color: rgb(43, 41, 41);
    opacity: 1;
}

.create-form-container form .btn {
    width: 98%;
    height: 45px;
    margin: 40px 0;
    border: none;
    background-color: #dffd9a;
    color: #042553;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.create-form-container form p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.create-form-container form p a {
    color: #27ae60;
    text-decoration: underline;
}

.create-form-container form textarea {
    resize: none;
}

@media (max-width: 1200px) {
    

    .create-form-container form label{
        font-size: 18px;
    }
    .create-form-container input{
        font-size: 16px;
        height: 30px;
    }

    ::placeholder{
        font-size: 14px;
    }

    .create-form-container select{
        font-size: 14px;
    }

    .create-form-container form h1{
        font-size: 1.4em;
        padding-top: 25px;
    }

    .footer-cards p{
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .create-form-container-box{
        max-width: 320px;
        padding: 20px 0 30px 0;
    }

    .create-form-container-box h3{
        font-size: 1.3em;
    }
    
    .create-form-container form h3{
        padding-top: 10px;

    }

    .create-form-container form label{
        font-size: 1.1em;
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    .create-form-container-box{
        max-width: 300px;
        padding: 20px 0 30px 0;
    }

    .create-form-container-box h3{
        font-size: 1.1em;
    }
    .create-form-container form h3{
        padding-top: 5px;

    }
    .create-form-container form label{
        font-size: 1em;
        margin-top: 15px;
    }
}