.not-found-page {
    width: 100%;
    color: #284167;
    background-color: #EEE;
    min-height: 250px;
    text-align: center;
    vertical-align: middle;
}

.not-found-page-container {
    vertical-align: middle;
    padding: 50px 150px;
}

.not-found-page-container div {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    color: #fff;
    background-color: #5979a9;
    border-radius: 12px;
    border: 3px solid #fff;
}

.not-found-page-container h1 {
    font-size: 4.2em;
    font-weight: 900;
}

.not-found-page-container h2 {
    font-size: 30px;
    text-align: center;
    margin: 8px 0;
}

.not-found-page-container p {
    text-align: center;
    margin-top: 4px;
    padding-bottom: 2em;
    font-size: 20px;
}

.not-found-page-container p a {
    color:#dffd9a;;
    font-weight: bold;
    text-decoration: underline;
}