.offer-card {
    text-align: center;
    width: 100%;
    height: auto;
}

.offer-card article,
.offer-card>div {
    padding: 50px 20px;
    background-color: #fff;
}

.offer-card article:nth-child(2n + 2) {
    padding: 50px 20px;
    background-color: #EEE;
}

.offer-card-title {
    text-transform: uppercase;
}

.offer-card .offer-card-subtitle {
    font-weight: 800;
    text-transform: uppercase;
    padding: 0;
}

.offer-card .offer-card-description {
    padding: 0 80px;
}

.offer-card-images {
    margin: 5% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    position: relative;
}

.offer-card-img {
    margin: 1% 0;
    width: 400px;
    aspect-ratio: 16 / 9;
    border-radius: 6px;
}

.offer-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-card button {
    margin: 0 auto 50px auto;
    color: #284167;
    background-color: #dffd9a;
    border: 3px solid #284167;
    font-size: 1.3em;
    padding: 10px 25px;
    border-radius: 6px;
    font-weight: bold;
}

.offer-card button:hover {
    box-shadow: 5px 5px 10px rgb(183, 181, 181);
}

@media (max-width: 1200px) {
    .offer-card article {
        padding: 50px 20px;
    }
}

@media (max-width: 1000px) {
    .offer-card>div {
        padding: 20px;
    }

    .offer-card-title {
        font-size: 1.8em;
    }

    .offer-card .offer-card-description {
        padding: 20px 30px;
    }

    .offer-card-img {
        width: 320px;
    }
}

@media (max-width: 800px) {
    .offer-card article,
    .offer-card article:nth-child(2n + 2) {
        padding: 20px;
    }

    .offer-card-title {
        font-size: 1.6em;
    }

    .offer-card .offer-card-subtitle {
        font-size: 1.2em;
    }

    .offer-card .offer-card-description {
        padding: 20px;
    }
}

@media(max-width: 600px) {
    .offer-card-title {
        font-size: 1.4em;
    }
    .offer-card .offer-card-subtitle {
        font-size: 1.1em;
    }

    .offer-card button{
        font-size: 1em;
    }

    .offer-card>div{
        padding: 20px 10px;
    }

    .offer-card .offer-card-description {
        padding: 20px 0;
    }
}

@media(max-width: 400px) {
    .offer-card-title {
        font-size: 1.2em;
    }
    .offer-card .offer-card-subtitle {
        font-size: 1em;
    }

    .offer-card button{
        font-size: 0.85em;
    }

    .offer-card .offer-card-description{
        font-size: 14px;
    }
}