.modal{
    height: 100%;
}
.cancel-btn,
.delete-btn {
    width: 30%;
    padding: 15px 20px;
    margin: 30px;
    border: 3px solid  #284167;
    border-radius: 5px;
    cursor: pointer;
    color: #284167;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
}
.delete-btn:hover,
.cancel-btn:hover{
    cursor: pointer;
    background-color:  #284167;
    color: #fff;
}

.delete-btn {
    background-color: #dffd9a;
} 

.container {
    background-color: #fff;
    border: 3px solid  #284167;
    border-radius: 15px;
    width: 400px;
    height: 150px;
    padding: 30px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: unset;
    z-index: 32;
}

.container h1{
    font-size: 20px;
    color: #474747;
}

.buttons {
    margin-top: 30px;
}


