#details-page {
    height: 100%;
}

.details-wrapper {
    margin: 50px 30px;
    border-radius: 7px 7px 7px 7px;
    display: flex;
}

.details-img {
    flex-basis: 50%;
}

.details-img img {
    width: 100%;
    border-radius: 7px 0 0 7px;
}

.details-btn.subscribe .btn,
.details-btn.subscribe p {
    font-size: 20px;
    background-color: #5979a9;
    border-radius: 10px;
    border: 3px solid #fff;
    display: inline-block;
}

.details-btn.subscribe button {
    cursor: pointer;
    display: inline-block;
}

.details-btn.subscribe p {
    display: inline-block;
}

.details-btn.subscribe .btn:hover {
    background-color: #284167;
}

.details-btn.own {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.details-btn.own a,
.details-btn.own p {
    margin: 30px auto 50px auto;
    flex-basis: 30%;
}

.details-info {
    flex-basis: 50%;
    width: 530px;
    border-radius: 0 7px 7px 7px;
    background-color: #ffffff;
}

.details-text.organizer {
    width: 80%;
    background-color: #5979a9;
    margin: 25px auto 0 auto;
    padding: 10px 0;
    font-size: 10px;
    color: #aaa9a9;
    letter-spacing: 0.2em;
}

.details-text.organizer h1 {
    font-size: 24px;
}

.details-text-content.organizer {
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.details-text-data,
.details-text-content {
    margin: 10px 10px 10px 30px;
    padding-top: 20px;
}

.details-text-data p {
    text-transform: uppercase;
    display: inline-block;
    padding: 3px 5px;
    background-color: #5979a9;
    margin: 10px;
    color: #fff;
}

.details-text h1 {
    margin-bottom: 35px;
    margin-left: 17px;
    font-size: 24px;
    color: #474747;
}
.details-text h1>span{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 22px;
    color: #aaa9a9;
}

.details-text.organizer h1 {
    margin-bottom: 20px;
}

.details-text h2,
.details-text-content h2 {
    margin: 8px 18px;
    font-size: 13px;
    text-transform: uppercase;
    color: #aaa9a9;
    letter-spacing: 0.2em;
}

.details-text>p,
.details-text-content p {
    margin: 10px 18px 45px 18px;
    color: #5f5a5a;
    line-height: 1.6em;
    font-size: 1.2rem;
    font-weight: lighter;
    overflow: hidden;
}

.details-text-content h3{
    text-transform: uppercase; 
    font-weight: 800;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 2em;
    text-align: left;
    color:  #aaa9a9;
}

.details-text-content h4 {
    margin: 5px 18px;
    line-height: 1.6em;
    font-size: 13px;
    overflow: hidden;
}

.details-btn {
    text-align: center;
    margin: 2em 0;
}


.details-btn .btn,
.details-btn a,
.details-btn p {
    height: auto;
    width: auto;
    align-items: center;
    padding: 10px 50px;
    justify-content: space-around;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    display: block;
    margin: 30px auto;
    border: none;
}

.edit {
    font-size: 16px;
    display: inline-block;
    background-color: #284167;
}

.edit:hover {
    background-color: #5979a9;
}

.remove {
    font-size: 16px;
    display: inline-block;
    background-color: rgb(215, 114, 114);
}

.remove:hover {
    background-color: rgb(142, 55, 55);
    cursor: pointer;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #9098aa;
    padding-top: 100px;
    opacity: 0.8;
}

@media all and (max-width :1250px) {

    .details-text-data,
    .details-text-content {
        padding-bottom: 20px;
    }

}

@media all and (max-width :900px) {

    .details-wrapper {
        flex-direction: column;
        position: relative;
    }

    .details-img {
        max-width: none;
    }

    .details-img img {
        width: 100%;
        border-radius: 7px;
    }

    .details-info {
        width: 100%;
        border-radius: 7px;
        margin: 20px auto;
    }

    .details-text {
        max-width: 100%;
    }

    .details-btn.subscribe {
        width: 100%;
    }

}

@media all and (max-width : 800px) {
    .details-btn.subscribe .btn,
    .details-btn.subscribe p {
        font-size: 2em;
    }
}

@media all and (max-width : 600px) {
    .details-btn.subscribe .btn,
    .details-btn.subscribe p {
        display: inline-block;
        font-size: 1.5em;
    }

    .details-text>p,
    .details-text-content p {
        font-size: 1.1em;
    }
}


@media all and (max-width : 400px) {
    .details-btn.subscribe .btn,
    .details-btn.subscribe p {
        font-size: 1em;
    }

    .details-text.organizer {
        width: 100%;
    }
}