.perfect {
    grid-area: perfect;
}

.perfect {
    text-align: center;
    padding: 40px 100px 0px 100px;
    background-color: #d4d4d4;
}

.perfect-title {
    font-size: 3em;
    color:#284167;
    /* text-shadow: 1px 3px 3px black; */
    margin-bottom: 20px;
}

.perfect-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 80px;
    justify-content: space-around
}

.perfect-content-card {
    flex-basis: 30%;
    margin-bottom: 20px;
}

/* .perfect>p{
    margin-bottom: 50px;
} */

.perfect-content-card>p, .perfect>p {
    color: #284167;
    font-size: 1.2em;
    font-weight: bold;
     
}


.perfect-content-card>img {
    width: 200px;
    height: 130px;
    overflow: hidden;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px grey;
    border: 4px solid #fff;
    border-radius: 6px;
}
.perfect-content-card>img:hover {
    box-shadow: 0px 10px 15px #000;
}

.perfect-offer{
    /* width: 80%; */
    margin: 0 auto;
    padding: 0 0 60px 0;
}

.perfect-offer-card{
    position: relative;
}

.perfect-offer-card>h3{
    color: #284167;
    margin-bottom: 5px;
    
}

.perfect-offer-card::before{
    content: '';
    display: block;
    width: 2px;
    height: 60px;
    background-color: #fff;
    position: relative;
    top: 80px;
}

.perfect-offer-card>p{
    text-align: left;
    padding-left: 20px;
    color: grey;
    font-size: 0.8em;
}

/* .perfect-offer:after{
    content: '';
    display: block;
    width: 400px;
    height: 2px;
    background-color:  #00D08E;
    position: relative;
    bottom: -40px;
} */