@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800;900&display=swap');

.offer {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    margin: 0% auto;
    min-height: 400px;
    align-items: center;
    background-color: #fefefe;
    text-transform: uppercase;
    font-family: Rubik, sans-serif;
    color: #284167;
}

.offer-for-organizers,
.offer-for-visitors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-for-visitors {
    background-color: #EEE;
  
}

.offer-container{
    display: flex;
    flex-basis: 55%;
    justify-content: center;
    flex-wrap: wrap;
    gap: ;
    margin: 40px 10px 20px 10px;
}

.offer-container-visitors {
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
}

.offer-container>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 10px;
}
.offer-container div:nth-child(2){
    margin-top: 50px;
} 

.offer-container-title {
    flex-basis: 35%;
}

.offer-container-title h2 {
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    padding: 50px 15px;
}

.card-content img {
    display: block;
    max-width: 100%;
}

.card-content h3 {
    margin: 20px 5px;
}

.organizer-link {
    min-width: 246px;
    margin-bottom: 10%;
    transition: .25s ease;
}

.organizer-link:hover {
    transform: rotate(5deg);
}

.organizer-link:hover .card:before {
    transform: translate(-2%) rotate(-4deg);
}

.organizer-link:hover .card:after {
    transform: translate(2%) rotate(4deg);
}

.offer .card {
    width: 200px;
    border: 3px solid #284167;
    background-color: #dffd9a;
    position: relative;
    transition: .15s ease;
    cursor: pointer;
    padding: 5%;
}

.offer .card:before,
.offer .card:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;

    /* background-color: pink; */
    transform-origin: center center;
    z-index: -1;
    transition: .15s ease;
    top: 0;
    left: 0;
}

.offer .card:before {
    border: 3px solid #284167;
    transform: translate(-2%) rotate(-6deg);
}

.offer .card:after {
    border: 3px solid #284167;
    transform: translate(2%) rotate(6deg);
}

.offer .card-content {
    min-height: 170px;
    border: 3px solid #fff;
    background-color: #EEE;
    position: relative;
    text-align: center;
}

.offer .card-content img {
    margin: 10px auto;
}

.visitor-btn {
   float: right;
    font-size: 1.3em;
    padding: 10px 25px;
    border: 3px solid #284167;
    color: #fff;
    background-color: #284167;
    margin-right: 100px;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 5px 5px 10px grey;
}

.visitor-btn:hover {
    color: #284167;
    background-color: #dffd9a;
    border: 3px solid #284167;
}

@media (max-width: 1000px) {

    .offer-for-organizers,
    .offer-for-visitors {
        flex-direction: column;
    }

    .offer-container {
        justify-content: center;
        margin: 0 0 20px 10px;
    }

    .visitor-btn{
        margin-bottom: 50px;
        margin-right:0;
    }
}

@media (max-width: 800px) {
    .offer-container-title h1 {
        font-size: 2em;
        padding: 15px;
    }

    .offer-container>div {
        flex-direction: column;
        justify-content: center
    }
}

@media (max-width: 600px) {
    .offer-container-title h1 {
        font-size: 1.8em;
    }
}

@media (max-width: 400px) {
    .offer-container-title h1 {
        font-size: 1.5em;
    }
}