@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800;900&display=swap');

.offer {
    font-family: Rubik, sans-serif;
    line-height: 1.5;
    margin: 0% auto;
    min-height: 400px;
    align-items: center;
    background-color: #fefefe;
    color: #284167;
}

.offer-for-organizers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-for-visitors {
    background-color: #EEE;
    padding: 50px;
    text-align: center;
    min-height: 400px;
}

.offer-container {
    display: flex;
    flex-basis: 720px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 40px 10px 20px 10px;
}

.offer-container>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.offer-container div:nth-child(2) {
    margin-top: 50px;
}

.offer-container-title {
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.offer-container-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    padding: 50px 15px 15px 15px;
}

.card-content img {
    display: block;
    max-width: 100%;
}

.card-content h3 {
    font-family: Rubik, sans-serif;
    margin: 20px 5px;
    color: #284167;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 800;
    text-transform: uppercase;
}

.organizer-link {
    padding: 0;
    margin: 0 auto;
    min-width: 230px;
    margin-bottom: 10%;
    transition: .25s ease;
    border: none;
    background-color: #fff;
}

.organizer-link:hover {
    transform: rotate(5deg);
}

.organizer-link:hover .card:before {
    transform: translate(-2%) rotate(-4deg);
}

.organizer-link:hover .card:after {
    transform: translate(2%) rotate(4deg);
}

.offer .card {
    width: 200px;
    border: 3px solid #284167;
    background-color: #dffd9a;
    position: relative;
    transition: .15s ease;
    cursor: pointer;
    padding: 5%;
}

.offer .card:before,
.offer .card:after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    transform-origin: center center;
    z-index: -1;
    transition: .15s ease;
    top: 0;
    left: 0;
}

.offer .card:before {
    border: 3px solid #284167;
    transform: translate(-2%) rotate(-6deg);
}

.offer .card:after {
    border: 3px solid #284167;
    transform: translate(2%) rotate(6deg);
}

.offer .card-content {
    min-height: 170px;
    border: 3px solid #fff;
    background-color: #EEE;
    position: relative;
    text-align: center;
}

.offer .card-content img {
    margin: 10px auto;
}

.visitor-btn {
    display: inline-block;
    font-size: 1.3em;
    padding: 10px 50px;
    color: #284167;
    background-color: #dffd9a;
    border: 3px solid #284167;
    border-radius: 6px;
    font-weight: bold;
}

.visitor-btn:hover {
    color: #fff;
    background-color: #284167;
    box-shadow: 5px 5px 10px grey;
}

@media (max-width: 1000px) {
    .offer-for-visitors {
        flex-direction: column;
    }

    .offer-container {
        justify-content: center;
        margin: 0 12px 20px 12px;
    }

    .offer-container-title {
        font-size: 2em;
    }

    .visitor-btn {
        margin-bottom: 50px;
        margin-right: 0;
    }
}

@media (max-width: 800px) {
    .offer-container-title h1 {
        font-size: 2em;
    }

    .offer-container>div {
        flex-direction: column;
        justify-content: center
    }
}

@media (max-width: 600px) {
    .organizer-link {
        gap: 10px
    }

    .offer-container-title h1 {
        font-size: 1.8em;
    }

    .offer-container-title{
        font-size: 1.5em;
    }

    .offer-container div:nth-child(2) {
        margin-top: 0px;
    }

    .organizer-link {
        min-width: 185px;
    }

    .offer-for-visitors{
        padding: 0 30px;
    }

    .offer .card {
        width: 160px;
    }

    .offer .card-content {
        min-height: 150px;
    }

    .offer .card-content img {
        width: 50px;
    }

    .card-content h3 {
        font-size: 20px;
        margin: 0px auto;
    }

}

@media (max-width: 476px) {
    .offer-container {
        display: block
    }

    .organizer-link{
        margin-bottom: 20px;
    }
}

@media (max-width: 400px) {
    .offer-container-title h1 {
        font-size: 1.5em;
    }
}