@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");

.before-header {
    height: 40px;
    background-color: #dffd9a;
    display: flex;
    align-items: center;
    font-family: Helvetica, sans-serif;
    padding-left: 10px;
}

.before-header-contact{
    display: inline-block;
    align-items: center;
    font-size: 14px;
    padding-left: 40px;
}

.before-header-contact i{
    margin-right: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
    height: 80px;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin: 0%;
}

.header-logo>img {
    height: 40px;
    margin-right: 5px;
}

.header-logo-text {
    font-size: 1.2em;
    color: #3c2064;

}

.header-nav-list {
    display: flex;
    padding-right: 0px;
}

.header-nav-list-item {
    list-style: none;
    padding: 10px 20px;
    margin: 0 1px;
    margin-left: 4px;
}

.header-nav-list-item-link {
    font-size: 1em;
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
    color: #284167;
}

.header-nav-list-item-link:hover {
    padding-bottom: 10px;
    border-bottom: 3px solid #dffd9a;
    ;
}

.header-nav-list-item-link.active {
    padding-bottom: 10px;
    border-bottom: 3px solid#dffd9a;
}


.error-box {
    position: fixed;
    display: block;
    z-index: 11111;
    left: 2%;
    top: 15%;
    margin-top: 1em;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
    height: auto;
    width: 340px;
    font-style: italic;
    background-color: #284167;
    box-shadow: 0px 0px 8px 7px white;
}

.error-box>p {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    padding: 14px;
    height: auto;
}

.error-box {
    -moz-animation: cssAnimation 0s ease-in 2s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 2s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 2s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 2s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

