@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,100,500,700,600,800,900);

.clear {
  clear: both;
}

.wrapper {
  width: 90%;
  margin: 20px auto;
  border-radius: 10px;
  border: solid 3px #fff;
}

.top {
  justify-content: space-between;
  background-color: #dffd9a;
  min-height: 80px;
  display: flex;
  align-items: center;
  font-family: Helvetica, sans-serif;
  padding: 0 40px;
  position: relative;
  z-index: -1;
}

.top-contact {
  color: #284167;
  display: block;
  float: right;
  align-items: center;
  font-size: 14px;
  padding-left: 40px;
  margin-top: 10px
}

.top-contact>span {
  margin-right: 15px;
}

.top-contact i {
  margin-right: 8px;
  font-size: 10px;
}

.navigation {
  list-style: none;
  padding: 0 80px;
  margin: 0;
  background-color: #284167;
  border-top: solid 3px #fff;
  border-bottom: solid 3px #fff;
  position: relative;
  z-index: 20;
}

.navigation-logo {
  display: block;
  margin-top: 0;
}

.navigation-logo-text {
  display: inline-block;
  font-size: 1.1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #284167;
}

.navigation-logo>img {
  height: 25px;
  margin-right: 5px;
}

.navigation li {
  float: left;
}

.navigation li:hover {
  background-color: #5979a9;
}

.navigation li a {
  font-size: 1.2em;
  font-family: 'Mukta', sans-serif;
  font-weight: lighter;
  display: block;
  padding: 0 20px;
  line-height: 40px;
  color: #fff;
}

.navigation ul {
  display: none;
  position: absolute;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
}

.navigation ul li {
  float: none;
  background-color: #5979a9;
}

.navigation li:hover>ul {
  display: block;
  background: #284167;
  border: solid 3px #fff;
  border-top: 0;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

.navigation li:hover>ul li:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.navigation li li a:hover {
  background: #385a8e;
}

.navigation ul li:last-child a,
.navigation ul li:last-child a:hover {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

@media all and (max-width : 1200px) {
  .navigation {
    padding: 0 15px;
  }

  .navigation li a {
    padding: 0 15px;
    font-size: 1em;
  }
}

@media all and (max-width : 1000px) {
  .navigation li a {
    font-size: 0.98em;
    padding: 0 10px;
  }
}

@media all and (max-width : 800px) {
  .navigation {
    padding: 0 5px;
  }

  .navigation li a {
    font-size: 0.85em;
    padding: 0 8px;
  }

  .top-contact span {
    display: block;
  }

  .top {
    padding: 0 20px
  }
}

@media all and (max-width : 600px) {
  .navigation {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .navigation ul {
    display: none;
    position: absolute;
    margin-left: -3px;
    padding: 0;
    overflow: hidden;
  }

  .navigation li a {
    padding: 0 10px;
    font-size: 0.9em;
    line-height: 30px;
  }

  .navigation li:hover>ul {
    position: absolute;
    top: 30px;
    border: none;
    border-radius: unset;
  }

  .navigation li:hover>ul li {
    display: inline-block;
  }

  .navigation ul li:last-child:hover a {
    border-radius: unset;
  }

  .navigation-logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: right;
  }

  .top {
    flex-direction: column;
    padding: 20px 0;
  }

  .navigation-logo-text,
  .top-contact span {
    font-size: 0.9em;
  }

  .navigation li>ul {
    margin-left: 20%;
  }
}

@media all and (max-width : 400px) {
  .navigation li ul li a {
    display: block;
    width: 100%;
  }

  .top {
    min-height: 20px;
  }

  .top-contact span {
    display: block;
  }

  .navigation li:hover>ul {
    left: 80px;
  }

  .navigation li:hover>ul li {
    display: block;
  }
}