.spaces {
    line-height: 1.5;
    margin: 0% auto;
    min-height: 400px;
    align-items: center;
    background-color: #fefefe;

    font-family: Rubik, sans-serif;
    color: #284167;
}

.spaces-wrapper {
    display: flex;
    flex-basis: 55%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    padding: 60px 10px;
}

.spaces-card {
    width: 250px;
    border: 3px solid #284167;
    background-color: #dffd9a;
    position: relative;
    padding: 15px;
    justify-content: center;
}

.spaces-card-container {
    height: 170px;
    border: 3px solid #fff;
    background-color: #EEE;
    position: relative;
    text-align: center;
    padding: 30px 15px;
}

.spaces-card {
    margin-bottom: 3%;
}

.spaces-card img {
    display: block;
    width: 50px;
    margin: 0 auto;
}

.spaces-card h3 {
    text-transform: uppercase;
    margin: 20px 5px;
    color: #284167;
    font-weight: 800;
}

.spaces-card p {
    padding: 10px;
}

.spaces-nav {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    top: 600px;
}

.spaces-nav button {
    display: inline-block;
    border: none;
    height: 100%;
    vertical-align: middle;
    flex-grow: 1;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    background-color: #284167;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.spaces-nav button:hover {
    background-color: #5979a9;
}

.hall {
    text-align: center;
    background-color: #fff;
    color: #4A6297;
    min-height: 100px;
}

.hall .hall-title {
    font-size: 2.4em;
    padding-top: 30px;
}

.hall p {
    padding-top: 20px;
    color: #284167
}

.hall-content {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 150px;
}

.hall-content-capacity {
    flex-basis: 50%;
    font-size: 2em;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    color: #4A6297;
}

.hall-content-capacity span:nth-child(1) {
    font-size: 1em;
}

.hall-content-capacity span:nth-child(2) {
    font-size: 3em;
}

.hall-content-capacity span:nth-child(3) {
    font-size: 20px;
    font-weight: 600;
}

.hall-content-schema h2 {
    font-size: 2em;
}

.hall-content-schema {
    flex-basis: 50%;
    margin-bottom: 25px;
}

.hall-content-schema img {
    width: 200px;
    height: auto;
}

@media (max-width: 1200px){
    .spaces-card {
        width: 220px;
    }

    .spaces-card p {
        padding: 5px;
    }

    .spaces-card-container {
        padding: 10px;
    }

    .spaces-card h3 {
        font-size: 1.3em;
        margin: 10px 5px 5px 5px;
    }

}

@media (max-width: 1000px) {
    .spaces {
        min-height: 300px;
    }

    .spaces-wrapper {
        gap: 2%;
        padding: 50px 10px 30px 10px;
    }

    .spaces-card {
        width: 200px;
    }

    .spaces-card h3 {
        font-size: 1.3em;
        margin: 10px 5px 5px 5px;
    }

    .spaces-nav button {
        font-size: 0.85em;
        padding: 10px 5px;
    }

    .hall-content {
        padding: 30px 150px;
    }

    .hall .hall-title {
        font-size: 2em;
    }

    .hall-content-schema h2 {
        font-size: 1.8em;
    }

    .hall-content-capacity span:nth-child(2) {
        font-size: 2.2em;
    }
}

@media (max-width: 800px) {
    .spaces-card-container {
        height: 130px;
    }

    .spaces-card {
        width: 160px;
    }

    .spaces-card img {
        width: 30px;
    }

    .spaces-card h3 {
        font-size: 1em;
        margin: 10px 5px 0 5px;
    }

    .spaces-card p {
        font-size: 14px;
    }
}