.event-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 30px;
    justify-content: space-around;
}

.event-card:hover {
    box-shadow: 0px 1px 10px 1px grey;
}

.event-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle;
}

.event-card-content-wrapper {
    display: flex;
    flex-basis: 80%;
    justify-content: space-between;
}

.event-card-content-detail {
    color: grey;
    font-style: italic;
    flex-grow: 1;
}

.event-card-content-date {

    margin-bottom: 10px;
    color: #fff;
    width: 52px;
    height: 80px;
    margin: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
}

.event-card-content-date span {
    background-color: #5979a9;
    display: block;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 7px 0;
}

.event-card-content-date span:nth-child(2) {
    background-color: #284167;
    font-size: 18px;
    padding: 10px 0;
}

.event-card-content-title {
    flex-grow: 1;
    width: 75%;
    text-align: start;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.1em;
    color: #000;
    text-transform: uppercase;
    padding: 10px 15px;
    letter-spacing: 0.08em;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    line-height: 25px;
    height: 40px;
    max-height: 52px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.event-card-content-btn {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 20px;
}

.event-card-content-detail {
    display: inline-block;
    margin-top: 10px;
    position: relative;
}

.event-card-content-detail span {
    float: left;
    margin-right: 5px;
}

.event-expired {
    display: inline-block;
    height: 18px;
    background-color: #5979a9;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 3px 5px;
    margin-left: 15px;
    position: relative;
    top: 5px;
    left: 58px;
}

.event-card-btn-wrapper {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

.event-card-link {
    padding: 15px;
    background-color: #284167;
    color: #fff;
}

@media (max-width: 1200px) {
    .event-card {
        padding: 25px;
    }

    .event-card-content-wrapper {
        flex-basis: 75%;
        flex-grow: 1;
    }

    .event-card-content-title {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 25px;
        height: 40px;
        max-height: 52px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

@media (max-width: 1000px) {
    .event-card {
        padding: 20px;
    }

    .event-card-content-title {
        font-size: 1em;
        margin-bottom: 15px;
        padding-top: 0;
    }

    .event-card-content {
        width: 100%;
    }

    .event-card-content-wrapper {
        flex-basis: 70%;
        margin-block: 0;
    }

    .event-card-content-date {
        width: 48px;
        height: auto;
    }

    .event-card-content-date span:nth-child(1) {
        font-size: 20px;
    }

    .event-card-content-date span:nth-child(2) {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .event-card-content-wrapper {
        flex-basis: 100%;
    }

    .event-card-btn-wrapper {
        flex-basis: 100%;
        flex-grow: 1;
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .event-card-link {
        padding: 10px 20px;
    }

    .event-card-content-detail {
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .event-card-content-date {
        width: 48px;
    }

    .event-card-content-date span:nth-child(1) {
        font-size: 18px;
    }

    .event-card-content-date span:nth-child(2) {
        font-size: 14px;
    }

    .event-expired {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .event-card-content-title {
        font-size: 1em;

    }

    .event-card-content-detail {
        display: none;
    }

    .event-card-btn-wrapper {
        margin: 10px auto;
        font-size: 1em;
    }

    .event-card-content-date span:nth-child(1) {
        font-size: 16px;
    }

    .event-card-content-date span:nth-child(2) {
        font-size: 12px;
    }

    .event-card-link {
        bottom: 20;
        left: 100;
        margin-top: 30px;
        padding: 8px 15px;
    }

    .event-card-content-date {
        width: 44px;
    }

    .event-card-content-date span {
        font-size: 16px;
    }

    .event-expired {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .event-card-content-title {
        font-size: 0.8em;
    }

    .event-card-btn-wrapper {
        font-size: 0.8em;
    }
}