.event-card {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 30px;
    justify-content: space-around;
    box-shadow: 0px 1px 10px 1px grey;
}

.event-card-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle;
}

.event-card-content-wrapper {
    width: 75%;
}

.event-card-content-detail {
    color: grey;
    font-style: italic;
    flex-grow: 1;
}

.event-card-content-date {
    position: relative;
    background-color: #284167;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #fff;
    width: 52px;
    padding: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
}

.event-card-content-date span {
    background-color: #5979a9;
    display: block;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 4px;
    margin-bottom: 7px;
}

.event-card-content-title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.1em;
    text-transform: uppercase;
    padding-top: 10px;
    line-height: 1.5;
    letter-spacing: 0.08em;
}

.event-card-content-detail {
    display: inline-block;
}

.event-card-content-detail span {
    float: left;
    margin-right: 5px;
}

.event-expired {
    background-color: #5979a9;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    padding: 3px 5px;
    margin-left: 15px;
}

.event-card-btn-wrapper {
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 20px;
}

.event-card-link {
    padding: 15px;
    background-color: #284167;
    color: #fff;
}

@media (max-width: 1200px) {
    .event-card {
        padding: 25px;
    }
}

@media (max-width: 1000px) {

    .event-card {
        padding: 20px;
    }

    .event-card-content-title {
        font-size: 1em;
        margin-bottom: 10px;
        padding-top: 0;
    }

    .event-card-content {
        width: 100%;
    }

    .event-card-content-wrapper {
        width: 70%;
    }

    .event-card-btn-wrapper {
        margin: 30px auto 0px auto;
    }
}

@media (max-width: 800px) {
  
    .event-card-content-wrapper {
        width: 100%;
    }

    .event-card-btn-wrapper {
        font-size: 1em;
        margin-top: 15px;
    }

    .event-card-link {
        padding: 10px 20px;
    }

    .event-card-content-detail {
        font-size: 0.9em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .event-card-content-date {
        width: 48px;
    }

    .event-card-content-date span {
        font-size: 18px;
    }

    .event-expired {
        font-size: 12px;
    }
}

@media (max-width: 600px) {

    .event-card-content-title {
        width: 100%;
        font-size: 1em;
        display: block;
        text-overflow: clip;
    }

    .event-card-content-detail {
        display: none;
    }

    .event-card-btn-wrapper {
        margin: 10px auto;
        font-size: 1em;
    }

    .event-card-link {
        position: relative;
        bottom: 20;
        left: 100;
        margin-top: 30px;
        padding: 8px 15px;
    }

    .event-card-content-date {
        width: 44px;
    }

    .event-card-content-date span {
        font-size: 16px;
    }

    .event-expired {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .event-card-content-title {
        font-size: 0.8em;
    }

    .event-card-btn-wrapper {
        font-size: 0.8em;
    }
}