.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 30px auto 0px auto;
    justify-content: space-evenly;
    gap: 5%;
}

.services div {
    position: relative;
}

.services-text {
    min-width: 300px;
    flex-basis: 40%;
    flex-grow: 1;
}

.services-text {
    margin: 60px auto 30px auto;
}

.services-text h1,
.team h1 {
    color: #284167;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.services-text p {
    font-size: 16px;
    margin-bottom: 10px;
    color: grey;
}

.services-image {
    min-width: 300px;
    margin: auto;
    width: 500px;
    background-color: #dffd9a;
    border-radius: 12px;
    border: 3px solid #fff;
    height: 450px;
}

.services-image-wrapper {
    width: 288px;
    height: 318px;
    margin: auto;
    display: flex;
    position: relative;
    top: 30px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.services-image-wrapper img {
    width: 100%;

}

.icon {
    display: flex;
    position: relative;
    bottom: 100px;
    right: -20px;
    z-index: 50;
    align-items: flex-end;
}

.icon img {
    width: 80px;
    height: auto;
}

.icon span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #284167;
    padding-bottom: 5px;
}

.team {
    background-color: #284167;
}

.team>h1 {
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    padding: 50px 30px 30px 30px;
    margin: 0;
}

.team-cards {
    width: 80%;
    margin: 0 auto;
    padding: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content:center;
}

.team-card {
    width: 250px;
    background-color: #dffd9a;
    border-radius: 12px;
    margin-bottom: 35px;
    border: 3px solid #fff;
}

.team-card-image {
    width: 200px;
    height: 250px;
    margin: 8% auto;
    border-radius: 12px;
    border: 3px solid #fff;
    object-fit: cover;
    overflow: hidden;
}

.team-card-image img {
    width: 100%;
}

.team-card-content {
    text-align: center;
    color:  #284167;
    padding: 0 15px 15px 15px;
}

.team-card-content h2 {
    width: 80%;
    font-size: 1.6em;
    margin: 0 auto 15px auto;
}

.team-card-content h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.team-card-buttons {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
}

.team-card-btn {
    font-size: 16px;
    font-weight: bold;
    background-color:  #5979a9;
    color: #fff;
    border:3px solid #fff;
    border-radius: 50%;
    padding: 10px 12px;
    margin-bottom: 15px;
    cursor: pointer;
}

