body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* background: url("../img/banner.jpg"); */
  background-position: 20% 82%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#box {
  height: auto;
  width: auto;
}

body {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 1em;
}
